.SongItem{
    border: 2px solid #fff;
    border-radius: 5px;
    padding: 5px 10px;
    margin-bottom: 5px;
    cursor: pointer;
    box-sizing: border-box;
}

.SongItemNav:hover{
    cursor: pointer;
    color: rgb(245, 209, 250);
}

.SongItemNav{
    color: white;
    text-decoration: none;
}