.NavigationItem{
    margin: 10px 0;
    box-sizing: border-box;
    display: block;
    width: 100%;
}

.NavigationItem a{
    color: rgb(29, 3, 53);
    text-decoration: none;
    width: 100%;
    box-sizing: border-box;
    display: block;
    font-weight: 700;
    margin-top: 10px;
}

.NavigationItem a:hover,
.NavigationItem a:active,
.NavigationItem a.active{
    border-bottom: 4px solid rgb(29, 3, 53);
}

@media(min-width: 500px){
   .NavigationItem{
    margin: 0;
    display: flex;
    align-items: center;
    height: 100%;
    width: auto;
}

.NavigationItem a{
    color: rgb(29, 3, 53);
    height: 100%;
    padding: 16px 30px;
    border-bottom: 4px solid transparent;
    font-weight: 700;
}

.NavigationItem a:hover,
.NavigationItem a:active,
.NavigationItem a.active{
    background-color: rgb(198, 150, 243);
    border-bottom: 4px solid rgb(29, 3, 53);
}
}