.MusicBox{
    display: flex;
    justify-content: center;
    flex-grow: 1;
    color: white;
    background: linear-gradient(90deg, #5041b2 0%, #7969e6 100%);
}

.MusicBoxWrapper{
    margin-top: 100px;
    width: 500px;
}

.MusicBoxWrapper ul{
    margin: 0;
    padding: 0 10px;
    list-style: none;
    width: 100%;
}

.MusicBoxNavLink{
    font-size: 20px;
    border: 2px solid white;
    border-radius: 5px;
    padding: 5px 10px;
    margin-bottom: 10px;
    cursor: pointer;
}

.MusicBoxNavLinkItem{
    text-decoration: none;
    color: white;
    height: 100%;
}

.MusicBoxNavLink :hover{
    background: rgba(0, 0, 0, .4);
}