.VideoBox{
    display: flex;
    justify-content: center;
    flex-grow: 1;
    color: white;
    background: linear-gradient(90deg, #5041b2 0%, #7969e6 100%);
}

.VideoBoxWrapper{
    margin-top: 100px;
    width: 500px;
}